.App {
  text-align: center;
  align: center;
}

.Signup-form {
  align: center;
}

.Signup {
  text-align: left;
  align: center;
  height: auto;
}

ui form Signup {
  align: center;
}

.form.ui.form.Signup {
  align: center;
  text-align: left;
}

div.App {
  align: center;
}

.LoginSignupButtons {
  align: center;
}
