body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

LoginSignupButtons {
  align: center;
}

div.App {
  align: center;
}

.App-header {
  align: center;
  text-align: center;
}

h1.App-title {
  align: center;
}

h1 {
  align: center
}

.servAnimDetails {
  text-align: left;
}

div.column {
  text-align: left;
}
